<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Ajouter une réservation</title>
</head>
<body>
    <h1>Ajouter une réservation</h1>
    <form th:action="@{/reservation/add}" th:object="${reservation}" method="post">
        <div>
            <label for="exemplaire">Exemplaire:</label>
            <select id="exemplaire" th:field="*{exemplaire.id_exemplaire}" required>
                <option value="">Sélectionner un exemplaire</option>
                <option th:each="exemplaire : ${exemplaires}" th:value="${exemplaire.id_exemplaire}" th:text="${exemplaire.code}"></option>
            </select>
        </div>
        <div>
            <label for="adherent">Adhérent:</label>
            <select id="adherent" th:field="*{adherent.idAdherent}" required>
                <option value="">Sélectionner un adhérent</option>
                <option th:each="adherent : ${adherents}" th:value="${adherent.idAdherent}" th:text="${adherent.nom + ' ' + adherent.prenom}"></option>
            </select>
        </div>
        <div>
            <label for="date_reservation">Date de réservation:</label>
            <input type="date" id="date_reservation" th:field="*{date_reservation}" required/>
        </div>
        <button type="submit">Ajouter</button>
    </form>
</body>
</html>