
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Accueil Bibliothécaire</title>
        <link rel="stylesheet" href="style.css">

</head>
<body>
    <h1>Bienvenue, Bibliothécaire</h1>
    <ul>
        <li><a href="/librarian/prolongement">Gérer les demandes de prolongation</a></li>
        <li><a href="/preter/formpreter/livre">Prêter un livre</a></li>
        <li><a href="/rendu/retour">Retourner un livre</a></li>
        <li><a href="/sanction/form">Sanctionner un adhérent</a></li>
    </ul>
</body>
</html>
