
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Accueil Bibliothécaire</title>
</head>
<body>
    <h1>Bienvenue, Bibliothécaire</h1>
    <ul>
        <li><a href="/librarian/prolongement">Gérer les demandes de prolongation</a></li>
        <li><a href="/preter/formpreter/livre">Prêter un livre</a></li>
        <li><a href="/views/rendu/retour_livre.html">Retourner un livre</a></li>
        <li><a href="/views/sanction_form.html">Sanctionner un adhérent</a></li>
    </ul>
</body>
</html>
